{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block body %}

<style>
    .list-group-item.notification-item {
     padding: 7px !important;}
</style>
<main id="main" class="main-content">

<div class="container mt-4">

    <h4 class="mb-3">All Notifications</h4>
    <ul class="list-group">
    {% for leave in leaves_all %}
    <li class=" list-group-item notification-item ">
        <div 
           class="text-decoration-none text-dark d-block">

            <div class="notification-content d-flex justify-content-center ">
                <div class = "me-3 ">  
                    <span class="icon-circle">
                    <i class="bi bi-info-circle text-primary"></i>
                </span></div>
              <div> <div class="notification-title">
                    {{ leave.leave_type|capfirst}} Leave
                </div>

                <div class="text-muted mb-1">
                    You Leave is {{ leave.status|capfirst}}
                </div>

                <small class="notification-time">
                    {{ leave.start_date}} - {{leave.end_date}}
                </small></div>
               
            </div>

        </div>
    </li>
    {% empty %}
    <li class="list-group-item text-center text-muted">
        No notifications
    </li>
    {% endfor %}
</ul>


</div>
</main>
{% endblock body %}
