{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .download-template-btn {
            background-color: #28a745 !important;
            color: white !important;
        }
        .download-template-btn:hover {
            background-color: #218838 !important;
            color: white !important;
        }
        .download-template-btn:visited {
            color: white !important;
        }
    </style>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:gst-download-template' %}" class="viewlink download-template-btn">
            📥 Download Template
        </a>
    </li>
    <li>
        <a href="{% url 'admin:gst-import' %}" class="addlink">
            📤 Import from Excel
        </a>
    </li>
{% endblock %}
