{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - CA Suite 2.0</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Favicons -->
    <link href={% static "assets/img/favicon.ico" %}rel="icon">
    <link href={% static "assets/img/apple-touch-icon.png" %} rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+San:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Select2 Bootstrap 5 theme (optional but recommended) -->
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <!-- Vendor CSS Files -->
    <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/boxicons/css/boxicons.min.css" %}rel="stylesheet">
    <link href={% static "assets/vendor/quill/quill.snow.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/quill/quill.bubble.css" %}rel="stylesheet">
    <link href={% static "assets/vendor/remixicon/remixicon.css" %}rel="stylesheet">
    <link href={% static "assets/vendor/simple-datatables/style.css" %} rel="stylesheet">
    <link href={% static "assets/css/client_onboarding.css" %} rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <!-- Template Main CSS File -->
    <link href={% static "assets/css/style.css" %} rel="stylesheet">
    <style>
    .text-danger { color: #dc3545; }
    </style>
</head>
<body>

{% include 'header.html' %}
{% include 'sidebar.html' %}


{% block body %}
{% endblock body %}
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Zapuza</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        {#        Designed by <a href="https://zapuza.com/">Nice Admin</a>#}
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- Vendor JS Files -->
<script src={% static "assets/vendor/apexcharts/apexcharts.min.js" %}></script>
<script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "assets/vendor/chart.js/chart.umd.js" %}></script>
<script src={% static "assets/vendor/echarts/echarts.min.js" %}></script>
<script src={% static "assets/vendor/quill/quill.js" %}></script>
<script src={% static "assets/vendor/simple-datatables/simple-datatables.js" %}></script>
<script src={% static "assets/vendor/tinymce/tinymce.min.js" %}></script>
<script src={% static "assets/vendor/php-email-form/validate.js" %}></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<!-- Template Main JS File -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src={% static "assets/js/main.js" %}></script>
<script>
    
    $(document).ready(function () {
        const datatableClasses = [
            '.datatable1',
            '.datatable-export',
        ];

        datatableClasses.forEach(selector => {

            $(selector).each(function () {

                if ($.fn.DataTable.isDataTable(this)) return;

                $(this).DataTable({
                    responsive: true,
                    processing: true,

                    pageLength: 10,
                    lengthMenu: [
                        [5, 10, 20, 50, 70, 100, 500, 1000, -1],
                        [5, 10, 20, 50, 70, 100, 500, 1000, "All"]
                    ],

                    dom: '<"dt-top"fB>rt<"dt-bottom"lip>',

                    buttons: [
                        {
                            extend: 'csv',
                            text: '<i class="bi bi-file-earmark-spreadsheet"></i>',
                            className: 'btn btn-xs btn-outline-primary dt-btn'
                        },
                        {
                            extend: 'excel',
                            text: '<i class="bi bi-file-excel"></i>',
                            className: 'btn btn-xs btn-outline-success dt-btn'
                        },
                        {
                            extend: 'print',
                            text: '<i class="bi bi-printer"></i>',
                            className: 'btn btn-xs btn-outline-secondary dt-btn'
                        }
                    ],

                    order: []
                });

            });

        });

    });
</script>

<script>
    $('.js-example-basic-single').select2(
        {
            dropdownParent: $("#siteVisitModal")
        })
</script>
<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>

</html>