{% load static %}
{% load humanize %}



<header id = "header" class="header fixed-top d-flex align-items-center" >

    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'dashboard' %}" class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/logo.png' %}" alt="">
            <span class="d-none d-lg-block">CA Suite 2.0</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

<!--    <div class="search-bar">-->
<!--        <form class="search-form d-flex align-items-center" method="POST" action="#">-->
<!--            <input type="text" name="query" placeholder="Search" title="Enter search keyword">-->
<!--            <button type="submit" title="Search"><i class="bi bi-search"></i></button>-->
<!--        </form>-->
<!--    </div>&lt;!&ndash; End Search Bar &ndash;&gt;-->

<!--    <div class="search-bar position-relative">-->
<!--        <form class="search-form d-flex align-items-center" onsubmit="return false;">-->
<!--            <input type="text" id="global-search-input" name="query" placeholder="Search" title="Enter search keyword" autocomplete="off">-->
<!--            <button type="submit" title="Search"><i class="bi bi-search"></i></button>-->
<!--        </form>-->

<!--        <div id="search-results-container" class="search-results-dropdown shadow-lg d-none">-->
<!--            <div class="results-content">-->
<!--                <div id="search-status" class="p-3 text-muted small">Type 4+ characters to search...</div>-->
<!--                <div id="results-list"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="search-bar position-relative">
        <form class="search-form d-flex align-items-center" onsubmit="return false;">
            <input type="text" id="global-search-input" name="query" placeholder="Search" title="Enter search keyword" autocomplete="off">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>

        <div id="search-results-container" class="search-results-dropdown shadow-lg d-none">
            <div id="results-list"></div>
        </div>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>

                    {% if unread_count > 0 %}
                    <span class="badge bg-primary badge-number">
                        {{ unread_count }}
                    </span>
                    {% endif %}
                </a>      <!-- End Notification Icon -->


                <ul class="dropdown-menu dropdown-menu-end notifications-dropdown">

                    <!-- HEADER -->
                    <li class="dropdown-header d-flex justify-content-between align-items-center">
                        <span>
                            You have {{ unread_count }} new notifications
                        </span>
                        <a href="{% url 'read_all_notifications' %}"
                           class="btn btn-sm btn-primary rounded-pill">
                            Read all
                        </a>

                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <!-- NOTIFICATIONS -->

                    {% for n in notifications %}
                    <li class="notification-item d-flex">

                        <a href="{% url 'view_notification' n.id %}"
                           class="d-flex w-100 text-decoration-none text-dark">

                            <div class="me-3">
                                <span class="icon-circle
                                {% if n.tag == 'success' %} border-success text-success
                                {% elif n.tag == 'warning' %} border-warning text-warning
                                {% elif n.tag == 'error' %} border-danger text-danger
                                {% else %} border-primary text-primary
                                {% endif %}
                                ">

                                    {% if n.tag == "success" %}
                                        <i class="bi bi-check-circle text-success"></i>
                                    {% elif n.tag == "warning" %}
                                        <i class="bi bi-exclamation-triangle text-warning"></i>
                                    {% elif n.tag == "error" %}
                                        <i class="bi bi-x-circle text-danger"></i>
                                    {% else %}
                                        <i class="bi bi-info-circle text-primary"></i>
                                    {% endif %}
                                </span>
                            </div>

                            <div>
                                <h6 class="mb-1 {% if not n.is_read %}fw-bold{% endif %}">
                                    {{ n.title }}
                                </h6>
                                <p class="mb-1 small text-muted">{{ n.message }}</p>
                                <small class="text-muted">{{ n.created_at|timesince }} ago</small>

                            </div>

                        </a>

                    </li>
                    {% empty %}
                    <li class="text-center text-muted p-3">
                        No notifications
                    </li>
                    {% endfor %}


                    <!-- FOOTER -->
                    <li class="dropdown-footer text-center">

                        <a href="{% url 'all_notifications' %}">
                            Show all notifications
                        </a>

                    </li>


                </ul>
            </li>
            <!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    {% if header_messages%}
                    <span class="badge bg-success badge-number">{{header_messages|length}}</span>
                    {% endif %}
                </a><!--End Messages Icon-->
            
                <ul class="dropdown-menu  dropdown-menu-end dropdown-menu-arrow  messages max-vw-50  " style="max-height: 300px; overflow-y: auto; overflow-x:auto; ">
                    <li class="dropdown-header">
                        You have {{header_messages|length}} new messages
                        <a href="{% url 'chat_base' %}"><span class="badge rounded-pill bg-primary p-2 ms-2 ">View all</span></a>
                    </li>
                    
                    {% for m in header_messages %}
                    {% if not m.is_seen %}

                    <li>
                        <hr class="dropdown-divider ">
                    </li>

                    <li class="message-item"  style = "max-width: 250px; margin-left:15px; background-size: cover;">

                    <a href="{% url 'chat_with_user' m.sender.id %}" class="d-flex gap-3 align-items-start" >

                        <!-- IMAGE WRAPPER -->
                            <div class="position-relative" >
                            {% if m.sender.employee.profile_pic %}
                            <img src="{{m.sender.employee.profile_pic.url}}"class="rounded-circle" width = "35" height= "35">
                            {% else %}
                            <img src="#"class="rounded-circle" width = "35" height= "35">
                            {% endif %}

                            <!-- BLUE DOT -->
                            <span class="position-absolute top-0 start-56 translate-middle bg-primary border border-light rounded-circle "
                                style="width: 10px; height: 10px;">
                            </span>
                        </div>
                        
                        <!-- MESSAGE CONTENT -->
                        <div>
                            <h4>{{m.sender.first_name}} {{m.sender.last_name}}</h4>
                            {% if '<img' in m.content %}
                            <p class = "text-truncate  fw-bold text-dark"> Sent an image..</p>
                            
                            {% else %}
                            {% autoescape off %}
                            <p class = "message-text fw-bold text-dark">{{m.content|striptags|truncatechars:70}}</p>
                            {% endautoescape %}

                            {% endif %}
                            <p class="small">{{m.timestamp|timesince}} ago</p>
                        </div>


                    </a>
                    </li>
                  
                    {% endif %}
                    {% endfor %}

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                 </ul><!--End Messages Dropdown Items --> 

            </li>
            

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    {% if user.is_staff and user.employee.profile_pic %}
                    <img src="{{ user.employee.profile_pic.url }}" alt="Profile" class="rounded-circle"
                         style="width:40px;height:40px;object-fit:cover;">
                    {% else %}
                    <img src=" {% static 'assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
                    {% endif %}
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.get_full_name|default:user.username }}</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile overflow-y:auto">
                    <li class="dropdown-header">
                        {% if user.is_staff %}
                        <h6>{{ user.get_full_name|default:user.username }}</h6>
                        <span>{{ user.employee.designation }} </span>
                        {% else %}
                        <h6>{{ user.get_full_name}}</h6>
                        <span>Client</span>
                        {% endif %}
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin">
                            <i class="bi bi-shield-exclamation"></i>
                            <span>Admin Panel</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/accounts/logout/">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header>